@model NptLesson09.Models.nptKhoa

@{
    ViewBag.Title = "NptDetails";
}

<h2>Details</h2>

<div>
    <h4>nptKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NptTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NptTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NptTrangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NptTrangthai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NptEdit", "NptEdit", new { id = Model.NptmaKH }) |
    @Html.ActionLink("Back to List", "NptIndex")
</p>
