
@{
    ViewBag.Title = "NptCustomerDetail";
}

<h2>Thong tin khach hang</h2>

<div class= "alert alert-danger">
    <h3>Ma so: @ViewBag.customer.CustomerId</h3>
    <p>Ho va Ten: @ViewBag.customer.FirstName @ViewBag.customer.LastName</p>
    <p>Dia chi: @ViewBag.customer.Address</p>
    <p>Nam sinh: @ViewBag.customer.YearOfBirth</p>
</div>

