@model List<Npt_Lesson04.Models.NPTCustomer>
@{
    ViewBag.Title = "NptListCustomer";
    //var list = ViewBag.list;
    //var list = Model as List<Npt_Lesson04.Models.NPTCustomer>;
    int stt = 0;
}

<h2>Danh sach khach hang</h2>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ma so</th>
                <th>Ho va Ten</th>
                <th>Dia chi</th>
                <th>Nam sinh</th>
                <th>Chuc nang</th>
            </tr>
        </thead>
        <tbody>
            @*foreach (var item in list)*@
            @foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>@stt</td>
                    <td>@item.CustomerId</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Address</td>
                    <td>@item.YearOfBirth</td>
                    <td>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

